<h1><%= @user.username %></h1>
<hr />

<h3>Add new transaction</h3>

  <form method="post" action="/transactions/<%= @user.id %>">

    <label for="Merchant">Merchant:</label>
    <select name="merchant_id" id="merchant-selection">
      <% @merchants.each do |merchant| %>
        <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
    </select>

    <label for="Category">Category:</label>
    <select name="category_id" id="category-selection">
      <% @categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>

    <label for="Value">Value:</label>
    <input type="number" name="value" id="value-field" min="0" step="0.01">

    <input type="submit" value="Save">

  </form>

  <p>
    <hr />
    <% for transaction in @transactions %>
      <%= transaction.merchant.name %>,
      <%= transaction.category.name %>,
      £<%= transaction.value %>
      <hr />
    <% end %>
  </p>
