<h1><%= @user.username %></h1>

<form action="/transaction/<%= @user.id %>/new" method="get">
  <input type="submit" value="Add transaction">
</form>

<form action="/users/<%= @user.id %>/edit" method="get">
  <input type="submit" value="Edit User">
</form>

<form action="/users/<%= @user.id %>/delete" method="get">
  <input type="submit" value="Delete User">
</form>

<% total = 0.00 %>
<p>
  <hr />
<% for transaction in @transactions %>
    <%= transaction.merchant.name %>,
    <%= transaction.category.name %>,
    £<%= transaction.value.to_f %>
    <form action="/transaction/<%= @user.id %>/<%= transaction.id %>/edit" method="get">
      <input type="submit" value="Edit"> </input>
    </form>

    <form action="/transaction/<%= @user.id %>/<%= transaction.id %>/delete" method="get">
        <input type="submit" value="Delete"> </input>
    </form>

    <hr />
    <% total += transaction.value.to_f %>
<% end %>
</p>
<p>Total: £<%= total %></p>
