<h2><%= @user.username %></h2>

<% total_transactions = Transaction.total_by_user(@user.id) %>
<% total_transactions = 0 if total_transactions == nil %>
<% remaining_balance = @user.balance.to_f - total_transactions.to_f %>
<% if remaining_balance <= 0 then balance_colour_class = "red" %>
  <% elsif remaining_balance <= 100 then balance_colour_class = "yellow" %>
  <% else %>
  <% balance_colour_class = "nocolour" %>
<% end %>

<table>
  <tr>
    <td style="width:450px"> Transactions Total: £<%= sprintf('%.2f', total_transactions)%></td>
    <td class=<%= balance_colour_class %>>Remaining Balance: £<%= sprintf('%.2f', remaining_balance) %></td>
  </tr>
</table>

<hr />

<table>
  <tr>
    <td><form action="/users/<%= @user.id %>/edit" method="get">
      <button class="button button1" type="submit"> Edit User </button>
    </form></td>
    <td><form action="/users/<%= @user.id %>/delete" method="get">
      <button class="button button1" type="submit"> Delete User </button>
    </form></td>
  <!-- </tr>
  <tr> -->
    <td><form action="/transaction/<%= @user.id %>/new" method="get">
      <button class="button button1" type="submit"> Add Transaction </button>
    </form></td>
    <td><form action="/user/<%= @user.id %>/top_up" method="get">
      <button class="button button1" type="submit"> Top Up Account</button>
    </form></td>
    <td><form action="/transactions/<%= @user.id %>/search" method="post">
      <label for="merchant"></label>
          <select id="merchant" name="merchant_id">
            <% for merchant in @merchants %>
            <option id="merchant-filter" value= "<%= merchant.id %>"><%= merchant.name %></option>
            <% end %>
          </select>
      <button type="submit"> Filter </button>
    </form></td>
    <td><form action="/transactions/<%= @user.id %>/search" method="post">
      <label for="category"></label>
          <select id="category" name="category_id">
            <% for category in @categories %>
            <option id="category-filter" value= "<%= category.id %>"><%= category.name %></option>
            <% end %>
          </select>
      <button type="submit"> Filter </button>
    </form></td>
  </tr>
</table>

<table>
  <% for transaction in @transactions %>
    <tr>
      <td style="width:450px"><%= transaction.merchant.name %></td>
      <td style="width:450px"><%= transaction.category.name %></td>
      <td style="width:90px" align="right">£<%= sprintf('%.2f', transaction.value.to_f) %></td>
      <td><form action="/transaction/<%= @user.id %>/<%= transaction.id %>/delete" method="get">
        <button type="submit"> Delete </button>
      </form></td>
      <td><form action="/transaction/<%= @user.id %>/<%= transaction.id %>/edit" method="get">
        <button type="submit"> Edit </button>
      </form></td>
    </tr>
  <% end %>
</table>
