<h1><%= @user.username %></h1>

<form action="/transaction/<%= @user.id %>/new" method="post">
  <input type="submit" value="Add transaction">
</form>

<% total = 0 %>
<p>
  <hr />
<% for transaction in @transactions %>
    <%= transaction.merchant.name %>,
    <%= transaction.category.name %>,
    £<%= transaction.value %>
    <hr />
    <% total += transaction.value.to_i %>
<% end %>
</p>
<p>Total: £<%= total %></p>
